__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Python virtual environment
.venv/

*.egg-info/
dist/

# Jupyter checkpoints
.ipynb_checkpoints/

# Generated output
output/*
!output/.gitkeep
